@charset "UTF-8";


@font-face {
    font-family: 'hackedregular';
    src: url('hacked-webfont.woff2') format('woff2'),
         url('hacked-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.row{
	background-color:#071a52;
}
.container {
	
	background: rgba(7, 26, 82,0.5);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}



.columns {
	width: 25%;
	float: left;
	font-family: "Source Sans Pro";
	color: #A5A5A5;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.row .columns p {
	padding-left: 10%;
	padding-right: 10%;
}

.row .columns p :hover{
	cursor: pointer;
	opacity: 0.9;
}

.container .columns h4 {
	font-family: hacked;
	font-size: 140%;
	text-align: center;
	color: #a7ff83;
}



.secondary_header {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #075F67;
	clear: left;
}
.container .secondary_header ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5%;
	padding-left: 0px;
	width: 100%;
}
.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-family: "hacked";
	font-weight: normal;
	color: #17b978;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	
	width: 16%;
	transition: all 0.3s linear;
}
.secondary_header ul li:hover {
	color: #071a52;
	cursor: pointer;
}

.noDisplay {
	display: none;
}

.footer {
	background-color: #717070;
}
.title {
	font-weight: bold;
	font-style: normal;
	font-family: "Source Sans Pro";
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}
.placeholder {
	/* [disabled]max-width: 400px;
*/
	/* [disabled]max-height: 200px;
*/
	width: 100%;
	padding-top: 30px;
	/* [disabled]padding-left: 19px;
*/
	padding-bottom: 30px;
	height: 100%;
}

.container .column_half.left_half h2 {
	color: #071a52;
	font-family: "Source Sans Pro";
	text-align: center;
}

.column_title {
	padding-top: 25px;
	padding-bottom: 25px;
}
.copyright {
	text-align: center;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Source Sans Pro";
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

@media (max-width: 320px) {

.d12{
	
					
				font-family: 'hackedregular';
							
	
	font-size: 100%;
}	
	
.secondary_header ul li {
	float: none;
	margin-top: 2px;
	margin-left: 0px;
	 
	width: 100%;
}
	.secondary_header ul li img{
		width: 50%;
	}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
	
}

.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}

.copyright {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.social .social_icon img {
	width: 80%;
}
.container .secondary_header {
}

}

@media (min-width: 321px) and (max-width: 768px) {
.secondary_header ul li {
	float: none;
	margin-top: 0px;
	margin-left: 0px;
	width: 100%;
}
.block{
	margin-bottom: auto;
		
	}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top:13%
}

.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

}

@media (min-width: 769px) and (max-width: 1000px) {
.secondary_header {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.secondary_header ul li {
	margin-top: 0px;
	margin-right: 7%;
	margin-bottom: 0px;
	margin-left: 7%;
}

.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
}

@media (min-width: 1001px) {
}
.thumbnail {
	width: 200px;
	border-color:#086972; 
	border-style:outset;
	height: 300px;
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}
.social {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #414141;
	clear: both;
	overflow: auto;
}
.social_icon {
	width: 25%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	line-height: 0px;
	padding-top: 7px;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}
.d12{
	
	 
	font-size: 100%;
}
.d11{
	padding-top: 0.65%;
	font-size: 150%;
}
.links{
	text-align: center;
	color:#17b978;
	text-decoration: none;
	
}
.links:hover{
	color:#071a52;
	
}
.filter{
	
	visibility: collapse;
}
.filter form table{
	text-align: center;
}
.filter form {
	padding-top: 27px;
}

.block {
  
	width: 90%;
	border: none;
	background-color:#086972 ;
	color: #17b978;
	font-family: hacked;
	font-size: 140%;
	cursor: pointer;
	text-align: center;
	
}
.secondary_header ul li img{
		width: 80%;
	}
#login{
	float:right;
}

#menu {
}

.try tr td label{
	color:#17b978;
	font-family: 'hackedregular';
	
	
}
.cent {
  margin-left:auto;
margin-right:auto;
}

.cent th{
	float:left;
}
.labe{
	font-family: "hacked";
	color: #17b978;
}
.labe:hover{
	color: #071a52;
	cursor: pointer;
}.btn-grad {background-image: linear-gradient(to right, #071a52 5%, white  100%, #086972  10%)}
.btn-grad {
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: #17b978;            
	font-family:"hacked";
	
	display: block;
}

.btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #071a52;
	text-decoration: none;
}
         